@media (max-width:1024px)
{
	.touch #manifesto article .background
	{
		height: 1px;
		background: 0 0;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #eee;
	}
}

@media (min-width:768px){
	.navbar-header { float: none; }
}
@media (min-width:800px){
	.navbar-header { float: left; }
}

@media (min-width:768px)
{
	.navbar-toggle { display: block; }
	.navbar-collapse.collapse { display: none!important; }
}
@media (min-width:800px) {
	.navbar-toggle { display: none; }

	.navbar-collapse
	{
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	.navbar-collapse.collapse
	{
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important;
	}
	
	.navbar-collapse.in { overflow-y: visible; }
	
	.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse
	{
		padding-left: 0;
		padding-right: 0;
	}

}
@media (max-width:800px) {

.navbar-collapse.in {
    overflow-y: auto;
}
.collapse.in {
    display: block;
}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a { color: #000; }
	
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus
	{
		color: #ff8300;
		background-color: transparent;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus
	{
		color: #555;
		background-color: #eee;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus
	{
		color: #ccc;
		background-color: transparent;
	}
}
